<script type="x/template" id="vue-sass-compiler">
	<div style="height: 100px; width: 100px; background-color: red" @click="compileSass()">
		<p style="color: green">COMPILE THIS SHIEET</p>
	</div>
</script>
